{% extends 'core/base.html' %}

{% block title %}
{{ news.title }}
{% endblock title %}

{% block content %}
  <h3 class="mt-2">
    Agregar Noticia
  </h3>
  <form id="addNews" class="mt-2" method="post" action="{% url 'news:create' %}" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-group">
        <label for="tags">Tags</label>
          <div class="row">
            <div class="col-11">
              {{ form.tags }}
            </div>
            <div class="col-1">
              {% comment %}
              <a href="{% url 'news:add_tags' %}"></a>  
              {% endcomment %}
              <a href="#"></a>  
                <button type="button"  class="btn btn-outline-success">
                  +
                </button>
              </a>
            </div>
          </div>
      </div>
     
      <div class="form-group">
        <label for="fuente">Fuente</label>
        <div class="row">
          <div class="col-11">
            <select name="source-source" id="id_source">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col-1">
              {% comment %}
              <a href="{% url 'news:add_source' %}">    
              {% endcomment %}
            <a href="#"></a>
              <!-- <button type="button"  id="btnsource" class="btn btn-outline-success">
                +
              </button> -->
              <button id="example" type="button">
                example
              </button>
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
                +
              </button>
            </a>
          </div>
        </div>
      </div>

      {% comment %}
      <div class="form-group">
        <label for="fuente">Fuente</label>
        <div class="row">
          <div class="col-11">
            {{ form.source }}
          </div>
          <div class="col-1">
              
              <a href="{% url 'news:add_source' %}">    
             
            <a href="#"></a>
              <!-- <button type="button"  id="btnsource" class="btn btn-outline-success">
                +
              </button> -->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
                +
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endcomment %}
      
      <div class="form-group">
        <label for="url">URL</label>
        {{ form.url }}
      </div>
      <div class="form-group">
        <label for="titulo">Título de la noticia</label>
        {{ form.title }}
      </div>
      <div class="form-group">
        <label for="imagen">Imagen</label>
        {{ form.image }}
      </div>
      <div class="form-group">
        <label for="encabezado">Encabezado de la noticia</label>
      {{ form.headline }}
      </div>
      <div class="form-group">
        <label for="cuerpo">Cuerpo de la noticia</label>
        {{ form.explanation }}
      </div>
      <div class="form-group">
        <label for="publication_date">Fecha de publicación</label>
        <input type="date" name="publication_date" id="publication_date" class="form-control">
      </div>
      <div class="form-group">
        <label for="imagen">País</label>
        {{ form.country }}
      </div>
      <button class="btn btn-primary form-control" type="submit">Guardar</button>
  </form>
  <hr>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Fuente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="source-form" class="mt-2" method="post">{% csrf_token %}
            <div class="form-group">
              <label for="nombre">Nombre:</label>
                {{ form_source.name }}
                {{ form_source.name.errors }}
            </div>
            <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


{% block script %}
<script>

  $('#source-form').submit(function(e){
    // const postData = {
    //   name:$('#id_name').val()
    // };
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $.ajax({
      type:'POST',
      headers:{
        "X-CSRFToken": csrftoken
      },
      url:'http://127.0.0.1:8000/news/source_add',
      data: {
        name:$('#id_name').val()
      },
      success:function(){
        console.log("submited");
      }
    });
    e.preventDefault();
  })
  
  $(document).ready(function(){

    $("#id_source").change(function(){
      $.ajax({
        url: 'http://127.0.0.1:8000/news/source_list',
      type: 'GET',
      // data: $(this).serializer(),
      success: function(response){

      }
    })
    });
  });

  $('#example').on('click',sendRequest);

  function sendRequest(){
    $.ajax({
      url: 'http://127.0.0.1:8000/news/source_list',
      type: 'GET',
      // data: $(this).serializer(),
      success: function(response){
        console.log(response)
      }
    });
  }

  


    
  
  $('.chzn-select').chosen();
  function setInputDate(_id){
    var _dat = document.querySelector(_id);
    var hoy = new Date(),
        d = hoy.getDate(),
        m = hoy.getMonth()+1, 
        y = hoy.getFullYear(),
        data;

    if(d < 10){
        d = "0"+d;
    };
    if(m < 10){
        m = "0"+m;
    };

    data = y+"-"+m+"-"+d;
    console.log(data);
    _dat.value = data;
  };
  // setInputDate("#calendar");
  setInputDate("#publication_date");
  </script>
<script>
  
</script>
{% endblock script %}
  
