{% extends 'core/base.html' %}

{% block title %}
{{ news.title }}
{% endblock title %}

{% block content %}
<div class="row">
  <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    <!-- Post Content Column -->
    <div class="col-lg-12">
      

        <p class="mt-4 lead">{{ form.country }}</p>
      <!-- Title -->
      <h1 class="mt-1" align="justify">{{ form.title }}</h1>

      <!-- Author -->
      <p class="lead">
        por
        <a href="#">{{ news.editor }}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <!-- <p>Publicado el {{ news.publication_date }}</p> -->
      <input type="date" name="publication_date" class="form-control-file mt-3" id="publication_date" value="{{ news.publication_date|date:'m-d-Y' }}">

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" style="display:flex; margin:0 auto;" width="900" height="300" src="{{ news.image.url }}" alt="...">
      <input type="file" name="image" class="form-control-file mt-3" id="image">
      <hr>

      <!-- Post Content -->
      <p class="lead" align="justify">Tags: 
        {{ form.tags }}
      </p>
      
      <blockquote class="blockquote">
        <p class="mb-0" align="justify">{{ form.headline }}</p>
      </blockquote>

      <p align="justify">{{ form.explanation }}</p>

      <hr>

      <blockquote class="blockquote">
        <footer class="blockquote-footer">
          <cite title="Source Title">{{ form.url }}</cite>
          <p class="lead">
            Fuente: 
          <label>{{ form.source }}</label>
          </p>
        </footer>
    </blockquote>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Atrás</a>
    </form>

    <hr>

    </div>

    {% comment %}
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
  
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>
  
      </div>
    {% endcomment %}


    
  </div>
{% endblock content %}

{% block script %}
<script>
  function setInputDate(_id){
    var _dat = document.querySelector(_id);
    var hoy = new Date(),
        d = hoy.getDate(),
        m = hoy.getMonth()+1, 
        y = hoy.getFullYear(),
        data;

    if(d < 10){
        d = "0"+d;
    };
    if(m < 10){
        m = "0"+m;
    };

    data = y+"-"+m+"-"+d;
    console.log(data);
    _dat.value = data;
  };
  // setInputDate("#calendar");
  setInputDate("#publication_date");
  </script>
<script>
  $('.chzn-select').chosen();
</script>
{% endblock script %}